body {
    background-color: rgb(227, 233, 248);
    color: rgb(7, 66, 32);
    padding-left: 10vh;
    padding-right: 10vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    border: 10px solid rgba(17, 111, 29, 0.854);
}

h1 {
    color: tomato;
}

h3 {
    color: cornflowerblue;
}

input.subbtn {
    color: blue;
    padding: 1vb;
}